@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Index" asp-controller="Plantas" class="btn d-block mx-auto btn-lg"> Boton Temporal para Ir a Plantas Index </a>

<a asp-action="Index" asp-controller="Suelos" class="btn d-block mx-auto btn-lg"> Boton Temporal para Ir a Suelos Index </a>

<a asp-action="Index" asp-controller="Fertilizantes" class="btn d-block mx-auto btn-lg"> Boton Temporal para Ir a Fertilizantes Index </a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
